/target
/classes
/checkouts
pom.xml
pom.xml.asc
cuda
*.jar
*.class
/.lein-*
/.nrepl-port
*.sw[op]
/bin/
/.project
/.classpath
/.settings/
target
checkouts
.lein-*
.nrepl-port
models
figwheel_server.log
mnist
resources
trained-network.nippy
trained-networks