/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.sw[op]
/bin/
/.project
/.classpath
/.settings/
examples/mnist/.lein-*
examples/mnist/.nrepl-port
examples/mnist/checkouts
examples/mnist/target
examples/scrabble/checkouts
caffe/checkouts
caffe/target
